body{
    background-color: #4caf50;
    color: white;
    text-align: center;
}

.container{
    max-width: 800px
    margin: 0 auto;
    padding: 20px
}

p{
    font-size: 18px;
    line-height: 1.5;
}

a{
    color: #ffffff;
    text-decoration: none;

    a: hover{
        color: #eeeeee;
    }
}

nav{
    text-align: left;
}


